.mt-7 {
    margin-top: 1.75rem;
}

.text-4xl {
    font-size: 2.25rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.text-center {
    text-align: center;
}

.font-semibold {
    font-weight: 600;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    flex: 1 0 300px;
    margin: 10px;
}